export DATABASE_URL=postgres://scheduler:scheduler@localhost:5432/scheduler?sslmode=disable
export PORT=8080
export ENV=local
export WORKER_COUNT=5
export POLL_INTERVAL_SEC=1
export JWT_SECRET=qq01XWL3HYft9PwIQ7XewL8uwTKDGg9f
export MAGIC_LINK_BASE_URL=http://localhost:8080