apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: server
  namespace: dist-scheduler
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  tls:
    - hosts:
        - jobs.enkiduck.com
      secretName: server-tls
  rules:
    - host: jobs.enkiduck.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: server
                port:
                  number: 8080
