apiVersion: apps/v1
kind: Deployment
metadata:
  name: scheduler
  namespace: dist-scheduler
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: scheduler
  template:
    metadata:
      labels:
        app: scheduler
    spec:
      imagePullSecrets:
        - name: gcr-pull
      containers:
        - name: scheduler
          image: europe-west3-docker.pkg.dev/notifylm/dist-scheduler/scheduler:latest
          envFrom:
            - configMapRef:
                name: dist-scheduler
            - secretRef:
                name: dist-scheduler
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 300m
              memory: 256Mi
