apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    metrics:
      prometheus:
        entryPoint: metrics
    ports:
      metrics:
        port: 9100
        expose:
          default: false
        exposedPort: 9100
        protocol: TCP
